@import '../layout/header/style_header.scss';
@import '../layout/footer/style_footer.scss';
@import '../pages/Home/style_home.scss';

@import '../pages/Contact/style_contact.scss';
@import '../pages/Create_account/style_create_account.scss';
@import '../pages/Login/style_login.scss';
@import '../pages/Account/style_account.scss';
@import '../pages/Quotation/style_quotation.scss';
@import '../pages/Support_ticket/style_support_ticket.scss';
@import '../pages/Computer/style_computer.scss';
@import '../pages/List_ticket/style_list_ticket.scss';
@import '../pages/Ticket_details/style_ticket_details.scss';
@import '../pages/Create_ticket/style_create_ticket.scss';
@import '../pages/Update_ticket/style_Update_ticket.scss';





