@import '../layout/header/style_header.scss';
@import '../layout/footer/style_footer.scss';
@import '../pages/Home/style_home.scss';

@import '../pages/Contact/style_contact.scss';
@import '../pages/Creat_account/style_creat_account.scss';
@import '../pages/Login/style_login.scss';
@import '../pages/Profil/style_profil.scss';
@import '../pages/Quotation/style_quotation.scss';
@import '../pages/Support_ticket/style_support_ticket.scss';
@import '../pages/Computer/style_computer.scss';



