


#formulaire {
    border: 2px solid #865AFF;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    border-radius: 10px;
    width: 40%;
    background-color: white;
    ::placeholder{
        color: #999999;
    }
                 
        form {
            margin: auto;
            width: 90%;

            
            :nth-child(14) {               
                font-size: 0.8rem;
                color: #865AFF;
            }
            :nth-child(4){
                margin-top: 8%;
            }
            h2{
                text-align: center;
                margin-bottom: 5%;
                
            }
            
            .text-center {
                text-align: center;
                padding: 2%;
                    
            }

            
            .btn {
                        
                padding: 10px 50px;
                color: white;
                left: 50%;
                background-color: #865AFF;
                border: 1px solid #865AFF;
                margin-top:5%;
                                
            }

            .btn:hover {
                background-color: white;
                color: #865AFF;
            }
        
        }
}
           
            

