*{
    margin: 0;
}

.carousel-inner {
    height: 500px;
        
        .carousel_a{
            background-image: url(../../assets/img/depannage.png);
        }
        .carousel_b{
            background-image: url(../../assets/img/reseau.png);
        }
        .carousel_c{
            
        }
}

    
