*{
    margin: 0;
}
.carousel-item h2 {
    padding-left: 90%;
    padding-bottom: 30%;
}
#carouselExampleAutoplaying  
    .carousel-inner 
        .carousel-item {
            height: 60vh;
 
      }


#presentations {
    text-align: center;
        
        .title {
            margin: 4% 4%;
        }
        
        .services {
            display: flex;
            justify-content: center;

                h2 {
                    margin: 5% 5%;
                }
                p {
                    margin-top: 7%;
                }
               
                .presentation {
                    width: 25%;
                    margin: 2rem 3rem;
                    padding-bottom: 3rem;
                
                    // border: 1px solid rgb(206, 206, 206);
                    // box-shadow: 5px 7px 7px rgb(206, 206, 206);
                    // border-radius: 5px;
                
                    position: relative;

                        .btn {
                            padding: 10px 15px;
                            color: white;
                            position: absolute;
                            bottom: 1px;   
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .btn-support {
                            background-color: #865AFF;
                            border: 1px solid #865AFF;
                        }
                        .btn-support:hover {
                            background-color: white;
                            color: #865AFF;
                        }
                        .btn-sale {
                            background-color: #865AFF;
                            border: 1px solid #865AFF;
                        }
                        
                        .btn-sale:hover {
                            background-color: white;
                            color: #865AFF;
                        }
                        
                        .content {
                            padding: 1rem;
                        }

                        .img-container {
                            width: 100%;
                            height: 25vh;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 5px;
                                }


                        }
                }
            }

}

#prestation {
    
    text-align: center;

        .btn{
            
            text-align: center;
            background-color: #865AFF;;
            color: white;
            padding: 1% 1%;
            border-radius: 5px;
            text-decoration: none;
           
        }

        .btn:hover {
        background-color: white;
        color: #865AFF;
        }

        .container {
            text-align: center;
            margin-bottom: 3%;
            
                img {
                    width: 40%;
                }
            
            

            h2 {
                margin: 8% 0% 8% 0%;
            }
            h3{
                
                font-size: 16px;
                margin-bottom: 5%;
            }
            .row {
                
                h1 {
                    font-size: 30px;
                }
                h2 {
                    
                }
                
                p{
                    margin-bottom: 10%;
                }
                
                
            }

        }
}

    






    


    




































 