


#tickets {
    // background-image: url("../../assets/img/maintenance_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
    

    h1 {
        text-align: center;
        padding: 2% 0% 2% 0%;
    }

    h2 {
        margin-bottom: 5%;
    }
    
   

    .ticket{
        
        display: flex;
        padding-bottom: 5%;
        width: 80%;
        margin: auto;
        
    
        
            .dropdown{
                margin-top : 8%;
                
                                
                    .dropdown-menu {
                        
                        background-color: white;
                        width: 100%;
                    }
                    .btn {
                        
                        background-color: #865AFF;
                        border: 1px solid #865AFF;
                        width: 100%;
                    }
                   
            }

            .ticket-search {
                width: 20%;
                display: flex;
                flex-direction: column;
                border: 2px solid #865AFF;
                border-radius: 5px;
                margin: 0% 1% 0% 3%;
                padding: 1%;
                
                

                    

                    form {
                        border-bottom: 1px solid #865AFF;
                        padding-bottom: 8%;
                    
                        .btn-search {
                                margin-left: 1%;
                                border: 1px solid #865AFF;
                                border-radius: 5px;
                                color: white;
                                background-color: #865AFF;
                                padding: 5px 15px;
                                
                        
                        
                            }

                        .text-search {
                            border: 1px solid #cccccc;
                            border-radius: 5px;
                            margin-top: 2%;
                            padding: 2%;
                            
                        }
                    }
            }

            .ticket-list {
                width: 80%;
                border: 2px solid #865AFF;
                border-radius: 5px;
                margin: 0% 3% 0% 1%;
                padding: 1%;
                
                
            }


    }
}
        

      
   
    

                