nav .first_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #2b2b2b;
}
nav .first_navbar .logo {
  width: 12%;
}
nav .first_navbar .logo img {
  width: 100%;
}
nav .first_navbar .search input {
  width: 600px;
  border-radius: 5px;
}
nav .first_navbar .search button {
  border-radius: 5px;
}
nav .first_navbar .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12%;
}
nav .first_navbar .account a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}
nav .first_navbar .account img {
  width: 15%;
}

nav .links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #865aff;
}
nav .links ul li {
  list-style: none;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
}
nav .links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer .first-footer {
  margin: 0;
}
footer .first-footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: #2b2b2b;
  margin-top: 1%;
  margin-bottom: 0;
  padding: 0;
}
footer .first-footer ul li {
  text-align: center;
  list-style: none;
}
footer .first-footer ul li a {
  color: white;
  text-decoration: none;
}
footer .first-footer ul img {
  width: 45%;
}

.social-links {
  height: 180px;
  background-color: #865aff;
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-links img {
  margin-top: 1%;
  width: 2%;
  margin-left: 2%;
}
.social-links p {
  margin-top: 1%;
  color: white;
}

* {
  margin: 0;
}

.carousel-item h2 {
  padding-left: 95%;
  padding-bottom: 30%;
}

#carouselExampleAutoplaying .carousel-inner .carousel-item {
  height: 60vh;
}

#presentations {
  text-align: center;
}
#presentations .title {
  margin: 4% 4%;
}
#presentations .services {
  display: flex;
  justify-content: center;
}
#presentations .services h2 {
  margin: 5% 5%;
}
#presentations .services p {
  margin-top: 7%;
}
#presentations .services .presentation {
  width: 25%;
  margin: 2rem 3rem;
  padding-bottom: 3rem;
  position: relative;
}
#presentations .services .presentation .btn {
  padding: 10px 15px;
  color: white;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #865AFF;
  border: 1px solid #865AFF;
}
#presentations .services .btn:hover {
  background-color: white;
  color: #865AFF;
}
#presentations .services .content {
  padding: 1rem;
}
#presentations .services .img-container {
  width: 100%;
  height: 25vh;
}
#presentations .services .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#prestation {
  text-align: center;
}
#prestation .btn {
  text-align: center;
  background-color: white;
  color: #865AFF;
  border: 1px solid #865AFF;
  padding: 1% 1%;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 15%;
}
#prestation .btn:hover {
  background-color: white;
  color: #865AFF;
}
#prestation .container {
  text-align: center;
  margin-bottom: 4%;
}
#prestation .container img {
  width: 40%;
}
#prestation .container h2 {
  margin: 8% 0% 8% 0%;
}
#prestation .container h3 {
  font-size: 16px;
  margin-bottom: 5%;
}
#prestation .container .row p {
  margin-bottom: 5%;
}

#question_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: #865AFF;
  color: white;
}

#testimonials {
  margin-top: 2%;
}
#testimonials .container {
  text-align: center;
  margin-bottom: 5%;
}
#testimonials .container .row img {
  margin: auto;
  width: 8%;
}
#testimonials .container .testimonial-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  padding: 5%;
}
#testimonials .container .testimonial-container .content .name-bold {
  font-weight: bold;
}
#testimonials .container .testimonial-container img {
  width: 35%;
  padding-bottom: 5%;
}

#formulaire-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#formulaire-contact h1 {
  text-align: center;
  padding: 2% 0% 2% 0%;
}
#formulaire-contact .contact {
  border: 2px solid #865AFF;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 5%;
}
#formulaire-contact .contact h2 {
  text-align: center;
  padding: 3% 0% 2% 0%;
  font-size: 2rem;
}
#formulaire-contact .contact .form {
  margin: 0% 5% 0% 5%;
}
#formulaire-contact .contact .btn-contact {
  text-align: center;
  margin-bottom: 5%;
}
#formulaire-contact .contact .btn {
  padding: 10px 50px;
  color: white;
  background-color: #865AFF;
  border: 1px solid #865AFF;
}
#formulaire-contact .contact .btn:hover {
  background-color: white;
  color: #865AFF;
}
#formulaire-contact .contact .btn:hover a {
  color: #865AFF;
}
#formulaire-contact .contact .btn a {
  text-decoration: none;
}
#formulaire-contact .contact a:visited {
  color: white;
}

#formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formulaire h1 {
  text-align: center;
  padding: 2% 0% 2% 0%;
}
#formulaire .account {
  border: 2px solid #865AFF;
  border-radius: 10px;
  width: 50%;
  padding: 0% 4% 0% 4%;
  margin-bottom: 5%;
}
#formulaire .account h2 {
  text-align: center;
  margin: 5% 0% 5% 0%;
  font-size: 2rem;
}
#formulaire .account :nth-child(13) p {
  font-size: 0.8rem;
  color: #865AFF;
}
#formulaire .account form .btn {
  padding: 10px 50px;
  color: white;
  left: 50%;
  background-color: #865AFF;
  border: 1px solid #865AFF;
  margin-top: 2%;
}
#formulaire .account form .btn:hover {
  background-color: white;
  color: #865AFF;
}

#formulaire-connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formulaire-connexion h1 {
  text-align: center;
  padding: 2% 0% 2% 0%;
}
#formulaire-connexion .login {
  border: 2px solid #865AFF;
  border-radius: 10px;
  width: 50%;
  padding: 0% 4% 0% 4%;
  margin-bottom: 5%;
  background-color: white;
}
#formulaire-connexion .login h2 {
  text-align: center;
  margin: 5% 0% 3% 0%;
  font-size: 2rem;
}
#formulaire-connexion .login p {
  text-align: center;
  font-size: 0.8rem;
  color: #865AFF;
}
#formulaire-connexion .login .btn-center {
  text-align: center;
  margin-bottom: 5%;
}
#formulaire-connexion .login .text-center {
  margin-top: 5%;
}
#formulaire-connexion .login .btn {
  padding: 10px 50px;
  color: white;
  background-color: #865AFF;
  border: 1px solid #865AFF;
}
#formulaire-connexion .login .btn:hover {
  background-color: white;
  color: #865AFF;
}
#formulaire-connexion .login .btn:hover a {
  color: #865AFF;
}
#formulaire-connexion .login .btn a {
  text-decoration: none;
}
#formulaire-connexion .login a:visited {
  color: white;
}

#computers {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
#computers h1 {
  text-align: center;
  padding: 2% 0% 2% 0%;
}
#computers h2 {
  margin-bottom: 5%;
}
#computers .computer {
  display: flex;
  padding-bottom: 5%;
  width: 80%;
  margin: auto;
}
#computers .computer .dropdown {
  margin-top: 8%;
}
#computers .computer .dropdown .dropdown-menu {
  background-color: white;
  width: 100%;
}
#computers .computer .dropdown .btn {
  background-color: #865AFF;
  border: 1px solid #865AFF;
  width: 100%;
}
#computers .computer .computer-search {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid #865AFF;
  border-radius: 5px;
  margin: 0% 1% 0% 3%;
  padding: 1%;
}
#computers .computer .computer-search form {
  border-bottom: 1px solid #865AFF;
  padding-bottom: 8%;
}
#computers .computer .computer-search form .btn-search {
  margin-left: 1%;
  border: 1px solid #865AFF;
  border-radius: 5px;
  color: white;
  background-color: #865AFF;
  padding: 5px 15px;
}
#computers .computer .computer-search form .text-search {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 2%;
  padding: 2%;
}
#computers .computer .computer-list {
  width: 80%;
  border: 2px solid #865AFF;
  border-radius: 5px;
  margin: 0% 3% 0% 1%;
  padding: 1%;
}

#tickets {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
#tickets h1 {
  text-align: center;
  padding: 2% 0% 2% 0%;
}
#tickets h2 {
  margin-bottom: 5%;
}
#tickets .ticket {
  display: flex;
  padding-bottom: 5%;
  width: 80%;
  margin: auto;
}
#tickets .ticket .dropdown {
  margin-top: 8%;
}
#tickets .ticket .dropdown .dropdown-menu {
  background-color: white;
  width: 100%;
}
#tickets .ticket .dropdown .btn {
  background-color: #865AFF;
  border: 1px solid #865AFF;
  width: 100%;
}
#tickets .ticket .ticket-search {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 2px solid #865AFF;
  border-radius: 5px;
  margin: 0% 1% 0% 3%;
  padding: 1%;
}
#tickets .ticket .ticket-search form {
  border-bottom: 1px solid #865AFF;
  padding-bottom: 8%;
}
#tickets .ticket .ticket-search form .btn-search {
  margin-left: 1%;
  border: 1px solid #865AFF;
  border-radius: 5px;
  color: white;
  background-color: #865AFF;
  padding: 5px 15px;
}
#tickets .ticket .ticket-search form .text-search {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 2%;
  padding: 2%;
}
#tickets .ticket .ticket-list {
  width: 80%;
  border: 2px solid #865AFF;
  border-radius: 5px;
  margin: 0% 3% 0% 1%;
  padding: 1%;
}
#tickets .ticket .ticket-list h2 {
  margin-bottom: 0;
}
#tickets .ticket .ticket-list .table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#tickets .ticket .ticket-list .table .ticket-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#tickets .ticket .ticket-list .table .ticket-content a {
  margin-left: 2%;
  text-align: center;
  width: 80%;
}
#tickets .ticket .ticket-list .table .ticket-content button {
  margin-left: 2%;
  text-align: center;
}

.ticket-details {
  text-align: center;
}
.ticket-details h1 {
  margin: 1%;
}
.ticket-details .btn {
  padding: 10px 50px;
  color: white;
  background-color: #865AFF;
  border: 1px solid #865AFF;
  margin-top: 3%;
}
.ticket-details .btn:hover {
  background-color: white;
  color: #865AFF;
}
.ticket-details .btn:hover a {
  color: #865AFF;
}
.ticket-details .btn a {
  text-decoration: none;
}
.ticket-details a:visited {
  color: white;
}

.content {
  border: 2px solid #865AFF;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 2%;
}
.content h2 {
  margin: 1%;
}

/*# sourceMappingURL=index.css.map */
