
#formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        padding: 2% 0% 2% 0%;
    }

    .account {
        
        border: 2px solid #865AFF;
        border-radius: 10px;
        width: 50%;
        padding: 0% 4% 0% 4%;
        margin-bottom: 5%;
            h2 {
                text-align: center;
                margin: 5% 0% 5% 0%;
                font-size: 2rem ;
            }
            :nth-child(13) p {
                font-size: 0.8rem;
                color: #865AFF;
            }
            
    

            form {
                

                .btn {
                    padding: 10px 50px;
                    color: white;
                    left: 50%;
                    background-color: #865AFF;
                    border: 1px solid #865AFF;
                    margin-top:2%;
                                    
                }
    
                .btn:hover {
                    background-color: white;
                    color: #865AFF;
                }


            }

            



    }
}













