#update-tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        h1 {
            text-align: center;
            padding: 2% 0% 2% 0%;
        }

    .update-ticket {
        border: 2px solid #865AFF;
        border-radius: 5px;
        width: 50%;
        padding: 0% 4% 0% 4%;
        margin-bottom: 5%;

        .btn {               
            padding: 10px 50px;
            color: white;
            left: 50%;
            background-color: #865AFF;
            border: 1px solid #865AFF;
            margin-bottom: 5%;
            
                            
        }

        .btn:hover {
            background-color: white;
            color: #865AFF;
        }

        .update-ticket-line {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            
                :nth-child(9){
                    border-top: 1px solid #865AFF;
                }

            h2 {
                text-align: center;
               padding: 3%;
                width: 100%;
               
            }

            .line {
                margin-bottom: 2%;
                width: 48%;

                label {
                    display: block;                   
                    margin-bottom: 5px;
                }

                input[type="text"],
                input[type="number"],
                input[type="textarea"] {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 10px;
                    width: 100%;
                }

                input[type="textarea"] {
                    height: 100px;
                    width: 800px;
                    margin-bottom: 10%;
                }
            }

            
     
            }
        }
}
