* {
    margin: 0;
}


footer .first-footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
        
        li {
            text-align: center;
            list-style: none;

            a {
                color: white;
                text-decoration: none;
            }
        }

        img {
            width: 45%;
            
        }

    
    

    
}


footer .social-links {
    
    height: 150px;
    background-color: #865aff;
    margin: 0;
    padding: 0;
    text-align: center;

        img {
            margin-top: 1%;
            width: 2%;
            margin-left: 2% ;
            
        }

        p {
            margin-top: 1%;
            color: white;
        }

     
      

 
     
 }



 